<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">Welcome {{SignupController.firstName}}!</h1>
</ion-header-bar>

<!-- added class bar-subheader to create fixed subheader -->
<ion-header-bar align-title="center" class="bar-positive bar-subheader">
Step 3: Invite your friends and then click <div class="signup-next-button" ng-click='SignupController.submit()'>finish</div>
</ion-header-bar>

<ion-content>

<div class="card">
  <div class="item item-text-wrap">
     Add friends
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
     Invite Facebook friends
  </div>
</div>

</ion-content>
